@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.home {
    background-color: #fef2cf;

}
.page1{
    background-color: rgba(252,223,135,255);
}

.wrapper {
    min-height: 100vh;
    position: relative;
}  

#description{
    font-family: 'Montserrat', sans-serif;
    /* text-shadow: 2px 2px 4px #000000; */
    color: white;
}
#title{
    font-size: 80px;
}
.contactInfo{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
#description, #name{
    background: rgba(255, 255, 255, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
-webkit-box-shadow: -3px 6px 38px -6px rgba(38,14,38,1);
-moz-box-shadow: -3px 6px 38px -6px rgba(38,14,38,1);
box-shadow: -3px 6px 38px -6px rgba(38,14,38,1);
}
.custom-btn {
    background-color: #6E85B2;
    border: none;
    color: #0d0c0c;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #4B6594;
}

/* //buttons */
.btn-primary {
    background-color: #80728d;
    font-family: 'Gagalin', sans-serif;
    transition: transform 0.3s; /* Add transition for smooth animation */

}

.btn-primary:hover {
    transform: scale(1.1); 
}

.card {
    border-radius: 150px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-item {
    margin-right: 10px;
    color: #302d2d;

}

.nav-link, #text1 {
    color: #302d2d;
}
#text{
    background-color: #C9A7EB; 
    font-family: 'Gagalin', sans-serif; 
    border-radius: 50px;
    border: #0d0c0c;
    color: #302d2d;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
}

/* Image homepage */
.image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; 
    /* Set the padding based on the aspect ratio of your image (e.g., 16:9 aspect ratio corresponds to 56.25%) */
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rounded-sides-container , #forumCards{
    display: flex;
    align-items: stretch;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
    -moz-box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
    box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
}
.rounded-sides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd2d2;
    padding: 20px;
}
.card-title{
    font-family: 'Gagalin', sans-serif;
    font-size: 25px;
    color: #0d0c0c;
}
.card-text{
    font-family: 'Nunito Sans', sans-serif;
}
#adopt{
    font-family: 'Roboto', sans-serif;

}
/* //header */
.nav-link {
    background-color: #FFB4B4;
    font-family: 'Gagalin', sans-serif;
    margin-right: 10px; /* Adjust the value as needed */
}
#footer{
    /* background-color: #C9A7EB; */
    background-color: rgba(252,223,135,255);
    
}
#list{
    background-color:#fef2cf;
}
#sign{
    color: #302d2d;
}
footer{
    flex-shrink: 0;
}

/* ================Contact=================== */
.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 2.5em;
    padding: 30px;
    width: 300px;
    height: 350px;
}

.button {
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    background: #C9A7EB;
    color: black;
    padding: 0.7em 5.5em;
    display: flex;
    align-items: center;
    border: 2px solid #66da4300;
    border-radius: 5em;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .button:hover {
    border: 2px solid #C9A7EB;
    background: #514a4a00;
    /* color: #ff5900; */
  }
  
  .button:active {
    border: 2px solid #66da4300;
    background: #ff5900;
    color: black;
  }
  
  .input {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #ff5900;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
  }
  
  .input:focus {
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    background-color: transparent;
    color: white;
  }
  
  .input::placeholder {
    color: #2e2520;
  }
  
  .textarea {
    font-family: Arial, Helvetica, sans-serif;
    width: calc(100% - 10px);
    padding: 8px;
    height: 100px;
    margin-bottom: 20px;
    border: 1px solid #66da4300;
    border-bottom: 1px solid #ff5900;
    outline: none;
    background-color: transparent;
    color: #ff5900;
}

.textarea::placeholder {
    color: #2e2520;
}

.textarea:focus {
    background-color: transparent;
    color: rgb(39, 30, 30);
}

/* =========Login================= */

.login-form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group button {
    width: 100%;
    padding: 8px;
    background-color: #C9A7EB;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-group button:hover {
    background-color:#5a4812; ;
}

/* ============Zodiac============= */
#zodiac{
    -webkit-box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
    -moz-box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
    box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
}


/* ========CREATE FORUM FORM===== */
form{
    height: 400px;
}  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-primary {
    margin-top: 20px;
  }
.h1Forum{
    margin-top: 40px;
}
#forumCards{
    background-color: #ffd2d2;
}