@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/gagalin');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.home {
    background-color: #fef2cf;
}
.page1{
    background-color: rgba(252,223,135,255);
}

.wrapper {
    min-height: 100vh;
    position: relative;
}  

#description{
    font-family: 'Montserrat', sans-serif;
    /* text-shadow: 2px 2px 4px #000000; */
    color: white;
}
#title{
    font-size: 80px;
}
.contactInfo{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
}
#description, #name{
    background: rgba(255, 255, 255, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(255, 255, 255, 0.3);
-webkit-box-shadow: -3px 6px 38px -6px rgba(38,14,38,1);
-moz-box-shadow: -3px 6px 38px -6px rgba(38,14,38,1);
box-shadow: -3px 6px 38px -6px rgba(38,14,38,1);
}
.custom-btn {
    background-color: #6E85B2;
    border: none;
    color: #0d0c0c;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #4B6594;
}

/* //buttons */
.btn-primary {
    background-color: #80728d;
    font-family: 'Gagalin', sans-serif;
    transition: transform 0.3s; /* Add transition for smooth animation */

}

.btn-primary:hover {
    transform: scale(1.1); 
}

.card {
    border-radius: 150px;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


.nav-item {
    margin-right: 10px;
    color: #302d2d;

}

.nav-link, #text1 {
    color: #302d2d;
}
#text{
    background-color: #C9A7EB; 
    font-family: 'Gagalin', sans-serif; 
    border-radius: 50px;
    border: #0d0c0c;
    color: #302d2d;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 50px;
}


/* .nav-link {
    color: #fff;
} */

/* Image homepage */
.image-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Set the padding based on the aspect ratio of your image (e.g., 16:9 aspect ratio corresponds to 56.25%) */
}

.image-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rounded-sides-container {
    display: flex;
    align-items: stretch;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
    -moz-box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
    box-shadow: 0px 3px 11px 5px rgba(166,164,165,1);
}
.rounded-sides {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffd2d2;
    padding: 20px;
}
.card-title{
    font-family: 'Gagalin', sans-serif;
    font-size: 25px;
}
.card-text{
    font-family: 'Nunito Sans', sans-serif;
}



#adopt{
    font-family: 'Roboto', sans-serif;

}
/* //header */
.nav-link {
    background-color: #FFB4B4;
    font-family: 'Gagalin', sans-serif;
    margin-right: 10px; /* Adjust the value as needed */
}
#footer{
    /* background-color: #C9A7EB; */
    background-color: rgba(252,223,135,255);
}

